#error-page {
  background:
    url("../images/connect-dropbox/ex-feature/bg-shape.png") no-repeat center
      center,
    linear-gradient(180deg, #e9f2ff 0%, #f7fbff 100%);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  // height: 100vh;
  padding: 160px 0 100px 0;

  .error-content {
    width: 760px;
    margin: auto;
    .error-head {
      h1 {
        font-weight: 700;
        font-size: 3.4rem;
        line-height: 150%;
        color: #151826;
      }
      span {
        font-weight: 700;
        font-size: 2rem;
        line-height: 150%;
        color: #151826;
      }
      p {
        color: #5c637e;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        margin: 10px 0;
        max-width: 500px;
        margin: 10px auto 10px auto;
      }
    }
    .featuer-item-img {
      width: auto;
      height: auto;
    }
    .error-but {
      margin-top: 45px;
      a {
        text-decoration: none;
        background: linear-gradient(146.96deg, #7788ff 11.6%, #6e6dff 89.24%);
        padding: 14px 30px;
        border-radius: 10px;
        color: #fff;
        i {
          margin-right: 8px;
        }
        &:hover {
          box-shadow: 5px 16px 20px rgba(111, 113, 255, 0.2);
        }
      }
    }
  }
}
