.blog-header {
  background:
    url("../images/connect-drive/ex-feature/bg-shape.png") no-repeat center
      center,
    linear-gradient(180deg, #e9f2ff 0%, #f7fbff 100%);
  padding: 200px 0 100px 0;
  background-size: cover;
  .section-header {
    h2 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
      font-weight: 600;
      color: #111;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    padding: 120px 0px 40px 0;
  }

  @media (max-width: 767.98px) {
    padding: 80px 0px 40px 0;
  }
}

/**---------- Hero Area ----------**/
#blog-page {
  padding: 60px 0;
  // background-color: rgba(142, 170, 249, 0.1);

  .our-articles-section {
    .section-head {
      margin-bottom: 20px;
      .section-title {
        color: #25252c;
        font-size: 48px;
        font-weight: 700;
        line-height: 120%;
      }
      .search-area {
        background: #fff;
        padding: 6px;
        border-radius: 50px;
        margin-bottom: 30px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        h4 {
          margin-bottom: 15px;
          font-size: 18px;
          color: #333;
        }
        .search_containers {
          .search-forms {
            .search-boxs {
              display: flex;
              gap: 10px;
              .search-fields {
                flex: 1;
                padding: 8px 12px;
                border: none;
                border-radius: 3px;
                font-size: 14px;
                &:focus {
                  outline: none;
                }
              }
              input:-internal-autofill-selected {
                appearance: menulist-button;
                background-image: none !important;
                background-color: light-dark(
                  rgb(232, 240, 254),
                  rgba(70, 90, 126, 0.4)
                ) !important;
                color: fieldtext !important;
              }
              .fm-search-btns {
                background: #007bff;
                color: #fff;
                border: none;
                padding: 8px 15px;
                border-radius: 50px;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 14px;
                // svg {
                //   path {
                //     fill: #fff;
                //   }
                // }
              }
            }
          }
        }
      }
    }
  }

  /* Our Articles Grid */
  .articles-grid-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
    .articles-grid {
      .article-item {
        // background: #fff;
        // border-radius: 5px;
        // overflow: hidden;
        // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        // margin-bottom: 20px;
        .article-image {
          img {
            object-fit: cover;
            border-radius: 15px;
          }
        }
        .article-content {
          padding: 15px;
          .article-title {
            color: #25252c;
            font-size: 30px;
            font-weight: 400;
            line-height: 120%;
            margin: 15px 0;
            a {
              &:hover {
                color: #007bff;
              }
            }
          }
          p {
            color: #5c637e;
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
          }
          .read-more-link {
            border-radius: 50px;
            border: 1px solid #bdccff;
            text-decoration: none;
            font-size: 13px;
            padding: 10px 20px;
            color: #25252c;
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            margin: 20px 0;
            display: inline-block;
            transition: all linear 0.4s ease-in-out;
            svg {
              margin-left: 10px;
            }
            &:hover {
              background: $color_primary;
              color: #fff;
              border-color: $color_primary;
              svg {
                path {
                  fill: #fff;
                }
              }
            }
          }
          .time-date {
            color: rgba(92, 99, 126, 0.7);
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
          }
        }
      }
    }

    /* Most Popular Section */
    .most-popular-section {
      // background: #fff;
      // padding: 20px;
      // border-radius: 5px;
      // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      height: max-content;
      h4 {
        margin-bottom: 15px;
        font-size: 18px;
        color: #333;
      }
      .popular-item {
        display: flex;
        gap: 20px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eee;
        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
        .popular-item-image {
          width: 30%;
          img {
            object-fit: cover;
            border-radius: 15px;
          }
        }
        .popular-item-content {
          flex: 1;
          .popular-item-title {
            color: #25252c;
            font-size: 30px;
            font-weight: 400;
            line-height: 120%;
            margin: 15px 0;
            a {
              &:hover {
                color: #007bff;
              }
            }
          }
          p {
            color: #5c637e;
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
          }
          .read-more-link {
            border-radius: 50px;
            border: 1px solid #bdccff;
            text-decoration: none;
            font-size: 13px;
            padding: 10px 20px;
            color: #25252c;
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            margin: 20px 0;
            display: inline-block;
            transition: all linear 0.4s ease-in-out;
            svg {
              margin-left: 10px;
            }
            &:hover {
              background: $color_primary;
              color: #fff;
              border-color: $color_primary;
              svg {
                path {
                  fill: #fff;
                }
              }
            }
          }
          .time-date {
            color: rgba(92, 99, 126, 0.7);
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
          }
        }
      }
    }
  }

  /* Latest Blog Grid */
  .letest-post {
    position: relative;
    .latest-blog-section {
      .section-title {
        color: #25252c;
        font-size: 48px;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 20px;
      }
      .blog-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        .blog-item {
          // background: #fff;
          // border-radius: 5px;
          // overflow: hidden;
          // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          margin-bottom: 20px;
        }
        .blog-item-image {
          img {
            border-radius: 15px;
            object-fit: cover;
          }
        }
        .blog-item-content {
          padding: 15px;
          .blog-item-title {
            color: #25252c;
            font-size: 30px;
            font-weight: 400;
            line-height: 120%;
            margin: 15px 0;
            a {
              &:hover {
                color: #007bff;
              }
            }
          }
          p {
            color: #5c637e;
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
          }
          .read-more-link {
            border-radius: 50px;
            border: 1px solid #bdccff;
            text-decoration: none;
            font-size: 13px;
            padding: 10px 20px;
            color: #25252c;
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            margin: 20px 0;
            display: inline-block;
            transition: all linear 0.4s ease-in-out;
            svg {
              margin-left: 10px;
            }
            &:hover {
              background: $color_primary;
              color: #fff;
              border-color: $color_primary;
              svg {
                path {
                  fill: #fff;
                }
              }
            }
          }
          .time-date {
            color: rgba(92, 99, 126, 0.7);
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
          }
        }
      }
    }
    /* Pagination */
    .posts-pagination {
      // width: 900px;
      margin-top: 30px;
      text-align: center;
      .page-numbers {
        display: inline-block;
        padding: 9px 20px;
        margin: 0 3px;
        background: #fff;
        border: 1px solid #ddd;
        color: #333;
        text-decoration: none;
        border-radius: 8px;
        &:hover {
          background: #007bff;
          color: #fff;
          border-color: #007bff;
        }
      }
      .next {
        position: absolute;
        right: 0;
      }
      .prev {
        position: absolute;
        left: 0;
      }
      .current {
        background: #007bff;
        color: #fff;
        border-color: #007bff;
      }
    }
  }

  /* Responsive */
  @media (max-width: 991px) {
    .blog-layout {
      flex-direction: column;
    }

    .main-content,
    .sidebar {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .blog-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    .articles-grid {
      grid-template-columns: 1fr;
    }

    .blog-grid {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 767.98px) {
  .buttons {
    margin-top: 10px;
    margin-bottom: 1rem !important;

    .btn {
      font-size: 11px !important;
      padding: 9px 11px !important;
    }
  }

  .blog-item-meta {
    flex-direction: column;
    gap: 20px;
  }

  .search_container {
    top: -84px !important;
    right: 0px !important;
    bottom: 0 !important;
    width: 100%;

    .cencel-btn {
      display: none !important;
    }

    .search-box {
      width: 100% !important;

      .search-btn {
        display: none;
      }

      .search-field {
        opacity: 1 !important;
      }

      .fm-search-btn {
        display: block !important;
      }
    }
  }
}
