.blog-header {
  background:
    url("../images/connect-drive/ex-feature/bg-shape.png") no-repeat center
      center,
    linear-gradient(180deg, #e9f2ff 0%, #f7fbff 100%);
  padding: 200px 0 100px 0;
  background-size: cover;
  .section-header {
    text-align: center;
    max-width: 850px;
    margin: auto;
    h1 {
      color: #151826;
      font-size: 60px;
      font-weight: 700;
      line-height: 120%;
      margin-bottom: 20px;
    }
    p {
      color: #5c637e;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    padding: 120px 0px 40px 0;
  }

  @media (max-width: 767.98px) {
    padding: 80px 0px 40px 0;
    .section-header {
      h2 {
        font-size: 27px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}

/**---------- Hero Area ----------**/
#blog-page {
  padding: 60px 0;
  // background-color: rgba(142, 170, 249, 0.1);

  .our-articles-section {
    .section-head {
      margin-bottom: 20px;
      .section-title {
        color: #25252c;
        font-size: 48px;
        font-weight: 700;
        line-height: 120%;
      }
      .search-area {
        background: #fff;
        padding: 6px;
        border-radius: 50px;
        margin-bottom: 30px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        h4 {
          margin-bottom: 15px;
          font-size: 18px;
          color: #333;
        }
        .search_containers {
          .search-forms {
            .search-boxs {
              display: flex;
              gap: 10px;
              .search-fields {
                flex: 1;
                padding: 8px 12px;
                border: none;
                border-radius: 3px;
                font-size: 14px;
                &:focus {
                  outline: none;
                }
              }
              input:-internal-autofill-selected {
                appearance: menulist-button;
                background-image: none !important;
                background-color: light-dark(
                  rgb(232, 240, 254),
                  rgba(70, 90, 126, 0.4)
                ) !important;
                color: fieldtext !important;
              }
              .fm-search-btns {
                background: #007bff;
                color: #fff;
                border: none;
                padding: 8px 15px;
                border-radius: 50px;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 14px;
                // svg {
                //   path {
                //     fill: #fff;
                //   }
                // }
              }
            }
          }
        }
      }
    }
  }

  /* Latest Blog Grid */
  .letest-post {
    position: relative;
    .latest-blog-section {
      .section-title {
        color: #25252c;
        font-size: 48px;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 20px;
      }
      .blog-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        .blog-item {
          // background: #fff;
          // border-radius: 5px;
          // overflow: hidden;
          // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          margin-bottom: 20px;
        }
        .blog-item-image {
          img {
            border-radius: 15px;
            object-fit: cover;
          }
        }
        .blog-item-content {
          padding: 15px;
          .blog-item-title {
            color: #25252c;
            font-size: 30px;
            font-weight: 400;
            line-height: 120%;
            margin: 15px 0;
            a {
              &:hover {
                color: #007bff;
              }
            }
          }
          p {
            color: #5c637e;
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
          }
          .read-more-link {
            border-radius: 50px;
            border: 1px solid #bdccff;
            text-decoration: none;
            font-size: 13px;
            padding: 10px 20px;
            color: #25252c;
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            margin: 20px 0;
            display: inline-block;
            transition: all linear 0.4s ease-in-out;
            svg {
              margin-left: 10px;
            }
            &:hover {
              background: $color_primary;
              color: #fff;
              border-color: $color_primary;
              svg {
                path {
                  fill: #fff;
                }
              }
            }
          }
          .time-date {
            color: rgba(92, 99, 126, 0.7);
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
          }
        }
      }
    }
    /* Pagination */
    .posts-pagination {
      // width: 900px;
      margin-top: 30px;
      text-align: center;
      .page-numbers {
        display: inline-block;
        padding: 9px 20px;
        margin: 0 3px;
        background: #fff;
        border: 1px solid #ddd;
        color: #333;
        text-decoration: none;
        border-radius: 8px;
        &:hover {
          background: #007bff;
          color: #fff;
          border-color: #007bff;
        }
      }
      .next {
        position: absolute;
        right: 0;
      }
      .prev {
        position: absolute;
        left: 0;
      }
      .current {
        background: #007bff;
        color: #fff;
        border-color: #007bff;
      }
    }
  }

  /* Responsive */

  @media (min-width: 768px) and (max-width: 991px) {
    .our-articles-section {
      .section-head {
        // display: block;
        text-align: center;
        .section-title {
          font-size: 23px;
        }
      }
    }
    /* Our Articles Grid */
    .articles-grid-main {
      grid-template-columns: repeat(2, 1fr);
      .articles-grid {
        .article-item {
          .article-content {
            .article-title {
              font-size: 22px;
            }
            .read-more-link {
              padding: 10px 17px;
              svg {
                margin-left: 8px;
              }
            }
          }
        }
      }

      /* Most Popular Section */
      .most-popular-section {
        .popular-item {
          .popular-item-content {
            .popular-item-title {
              font-size: 22px;
            }
            .read-more-link {
              padding: 10px 17px;
              svg {
                margin-left: 8px;
              }
            }
          }
        }
      }
    }
    /* Latest Blog Grid */
    .letest-post {
      position: relative;
      .latest-blog-section {
        .section-title {
          font-size: 25px;
        }
        .blog-grid {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          .blog-item-content {
            .blog-item-title {
              font-size: 22px;
            }
            .read-more-link {
              padding: 10px 17px;
              svg {
                margin-left: 8px;
              }
            }
          }
        }
      }
      /* Pagination */
      .posts-pagination {
        .page-numbers {
          padding: 9px 20px;
        }
      }
    }
  }
  @media (max-width: 767.98px) {
    .our-articles-section {
      .section-head {
        display: block;
        text-align: center;
        .section-title {
          font-size: 23px;
          margin-bottom: 20px;
        }
      }
    }
    /* Our Articles Grid */
    .articles-grid-main {
      grid-template-columns: repeat(1, 1fr);
      .articles-grid {
        .article-item {
          .article-content {
            .article-title {
              font-size: 22px;
            }
            .read-more-link {
              padding: 10px 17px;
              svg {
                margin-left: 8px;
              }
            }
          }
        }
      }

      /* Most Popular Section */
      .most-popular-section {
        .popular-item {
          display: block;
          .popular-item-image {
            width: 100%;
          }
          .popular-item-content {
            .popular-item-title {
              font-size: 22px;
            }
            .read-more-link {
              padding: 10px 17px;
              svg {
                margin-left: 8px;
              }
            }
          }
        }
      }
    }
    /* Latest Blog Grid */
    .letest-post {
      position: relative;
      .latest-blog-section {
        .section-title {
          text-align: center;
          font-size: 23px;
        }
        .blog-grid {
          grid-template-columns: repeat(1, 1fr);
          gap: 0px;
          .blog-item-content {
            .blog-item-title {
              font-size: 22px;
            }
            .read-more-link {
              padding: 10px 17px;
              svg {
                margin-left: 8px;
              }
            }
          }
        }
      }
      /* Pagination */
      .posts-pagination {
        .page-numbers {
          padding: 9px 20px;
        }
      }
    }
  }
}
