* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: $heading_color;
  letter-spacing: 0;
  line-height: 120%;
}

p {
  margin-bottom: 10px;
}
.btn-primary {
  background: $color_primary;
  border: 1px solid $color_primary;
  color: $color_white;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  svg {
    margin-right: 10px;
  }
  &:hover {
    background: transparent;
    color: $color_primary;
    svg {
      path {
        fill: $color_primary;
      }
    }
  }
}
.free-btn-primary {
  background: transparent;
  border: 1px solid $color_primary;
  color: $color_primary;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  svg {
    margin-left: 10px;
  }
  &:hover {
    background: $color_primary;
    color: $color_white;
    svg {
      path {
        fill: $color_white;
      }
    }
  }
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;

    > * {
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
    }
  }
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-self-start {
  align-self: flex-start;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

button {
  background: $color_primary;
  color: $color_white;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
@media only screen and (max-width: 1366px) {
  .container {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 1199.98px) {
}
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 767px) {
}
