* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: $heading_color;
  letter-spacing: 0;
}

p {
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;

    > * {
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
    }
  }
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-self-start {
  align-self: flex-start;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

button {
  background: $color_primary;
  color: $color_white;
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
}
