/**---------- connect drive pricing scss ----------**/
#connect-drive-pricing__hero {
  padding: 100px 0 450px 0;
  background: linear-gradient(180deg, #e9f2ff 0%, #f7fbff 100%);
  .connect-drive-pricing__hero-content {
    max-width: 700px;
    margin: auto;
    .connect-drive-pricing__hero-title {
      font-weight: 700;
      font-size: 3.5rem;
      line-height: 120%;
      color: #111;
    }

    .connect-drive-pricing__hero-description {
      margin: 2rem 0 0rem 0;
      font-weight: 400;
      font-size: 1rem;
      color: #5c5c5c;
    }
  }

  .offers-img {
    margin-bottom: 60px;

    img {
      width: 60%;
      height: auto;
    }
  }

  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .connect-drive-pricing__hero-content {
      .connect-drive-pricing__hero-title {
        font-size: 2.6rem;
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    // padding: 60px 0 0px 0;

    .connect-drive-pricing__hero-content {
      .connect-drive-pricing__hero-title {
        font-size: 2.4rem;
        padding-bottom: 15px;
      }
      .connect-drive-pricing__hero-description {
        padding-bottom: 0px;
        margin: 0;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    // padding: 60px 0 0px 0;

    .connect-drive-pricing__hero-content {
      .connect-drive-pricing__hero-title {
        font-size: 2rem;
        padding-bottom: 15px;
      }
      .connect-drive-pricing__hero-description {
        padding-bottom: 0px;
        margin: 0;
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 100px 0;

    .connect-drive-pricing__hero-content {
      .connect-drive-pricing__hero-title {
        font-size: 1.5rem;
      }

      .connect-drive-pricing__hero-description {
        font-size: 0.9rem;
        margin-top: 1rem;
      }
    }
  }
}

#pricing {
  // padding: 100px 0;
  margin-top: -400px;
  margin-bottom: 100px;
  .pricing-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;

    .switch {
      position: relative;
      width: 70px;
      height: 35px;
      background: $color_primary;
      border-radius: 20px;
      cursor: pointer;
      transition: all 0.3s ease;
      margin: 0 15px;
      display: flex;
      align-items: center;
      line-height: 1;

      &:after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #fff;
        left: 5px;
        transition: all 0.3s ease;
      }
    }

    .switch-text {
      font-size: 1.2rem;
      color: #5c5c5c;

      &.annual {
        color: $color_primary;
        cursor: pointer;
      }

      &.lifetime {
        cursor: pointer;
      }
    }

    &.active {
      .switch {
        background: $color_primary;

        &:after {
          left: auto;
          right: 5px;
        }
      }

      .switch-text {
        &.annual {
          color: #5c5c5c;
          cursor: pointer;
        }

        &.lifetime {
          color: $color_primary;
          cursor: pointer;
        }
      }
    }
  }

  .site {
    text-align: center;
    margin: 10px 0 10px 0;

    .dropdown {
      &-menu {
        padding: 0;
        overflow: hidden;
      }

      .dropdown-item {
        &.active {
          background-color: $color_primary;
        }
      }

      .btn-pr {
        background-color: $color_primary;
        border: none;
        padding: 10px 15px;
        border-radius: 8px;
        color: #fff;

        &:hover {
          box-shadow: #7788ff 0px 2px 8px 0px;
        }
      }

      .btn-check:focus + .btn-secondary,
      .btn-secondary:focus {
        border: none;
        box-shadow: none;
      }
    }
    .license-main {
      .license-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-left: 0;
        li {
          list-style: none;
        }

        .list-item {
          padding: 14px 10px;
          color: $color_primary;
          border-radius: 12px;
          border: 1px solid rgba(234, 238, 255, 0.6);
          background: #fff;
          // width: 180px;
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 16px;
          cursor: pointer;
          h5 {
            color: #3d3d3d;
            font-size: 14px;
            font-weight: 600;
            line-height: 120%;
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0;
            svg {
              // margin-left: 15px;
              text-align: right;
              background-color: #fff;
              padding: 5px;
              border-radius: 50%;
              width: 25px;
              height: 25px;
              text-align: center;
              font-size: 16px;
              color: $color_primary;
              display: none;
              position: absolute;
              top: -10px;
              right: -8px;
              border: 1px solid $color_primary;
            }
          }
          .site-image {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 3px 5px;
            border-radius: 40px;
            border: 0.2px solid $color_primary;
            background: rgba(234, 238, 255, 0.6);
            img {
              background: $color_primary;
              border-radius: 50%;
              padding: 2px;
            }
            .site-img-logo {
              position: relative;
              margin-right: 10px;
              .site-1 {
                position: relative;
                left: 0px;
                top: 4px;
              }
              .site-2 {
                position: absolute;
                left: 10px;
                top: 4px;
              }
              svg {
                width: 20px;
                height: 20px;
                fill: $color_primary;
                border-radius: 12px;
                border: 0.1px solid;
                background: $color_primary;
                box-shadow:
                  0 -1px 1px 0 rgba(0, 0, 0, 0.12) inset,
                  0 1px 1.5px 0 rgba(255, 255, 255, 0.25) inset,
                  0 2px 6px 0 rgba(255, 255, 255, 0.3);
                border-radius: 50%;
                padding: 3px;
                border-color: rgba(255, 255, 255, 0.24);
                path {
                  fill: #fff;
                }
              }
            }
            .logo-site-1 {
              margin-right: 0;
            }

            .site-img-logo-5 {
              position: relative;
              margin-right: 20px;
              svg {
                width: 20px;
                height: 20px;
                fill: $color_primary;
                border-radius: 12px;
                border: 0.1px solid;
                background: $color_primary;
                box-shadow:
                  0 -1px 1px 0 rgba(0, 0, 0, 0.12) inset,
                  0 1px 1.5px 0 rgba(255, 255, 255, 0.25) inset,
                  0 2px 6px 0 rgba(255, 255, 255, 0.3);
                border-radius: 50%;
                padding: 3px;
                border-color: rgba(255, 255, 255, 0.24);
                path {
                  fill: #fff;
                }
              }
              .site-1 {
                position: relative;
                left: 0px;
                top: 4px;
              }
              .site-2 {
                position: absolute;
                left: 5px;
                top: 4px;
              }
              .site-3 {
                position: absolute;
                left: 10px;
                top: 4px;
              }
              .site-4 {
                position: absolute;
                left: 16px;
                top: 4px;
              }
              .site-5 {
                position: absolute;
                left: 22px;
                top: 4px;
              }
            }

            span {
              font-size: 13px;
            }
          }
          .list-item-text {
            display: flex;
            // justify-content: space-between;
            align-items: center;
            gap: 5px;
            svg {
              width: 25px;
              height: 25px;
              fill: $color_primary;
              background: $color_primary;
              border-radius: 50%;
              padding: 5px;
              path {
                fill: #fff;
              }
            }
          }
          &.active {
            background-color: $color_primary;
            color: #fff;
            .list-item-text {
              svg {
                background: #fff;
                path {
                  fill: $color_primary;
                }
              }
            }
            .site-image {
              border: 0.2px solid #fff;
              background: rgba(255, 255, 255, 0.24);
              img {
                background: #fff;
              }
              svg {
                background: #fff;
                border-color: $color_primary;
                path {
                  fill: $color_primary;
                }
              }
            }
            h5 {
              color: #fff;
              svg {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
  .pricing-table-main {
    padding-top: 90px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;

    .pricing-table-free {
      border-top: 6px solid #fd8f1c;
      border-bottom: 1px solid #fd8f1c;
      border-left: 1px solid #fd8f1c;
      background: #fff;
      .price-value {
        color: #fd8f1c;
      }
      // .features-btn {
      //   color: #fd8f1c !important;
      // }
      .buy-btn {
        background: #fd8f1c;
        border: 1px solid #fd8f1c;
        color: #fff;
        &:hover {
          background: transparent;
          color: #fd8f1c !important;
          svg {
            path {
              fill: #fd8f1c;
            }
          }
        }
      }
    }
    .price-table-annual {
      margin-top: -38px;
      margin-bottom: 39px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
      position: relative;
      z-index: 1;
      .card-profe {
        background: $color_primary;
        padding: 9px 10px;
        h3 {
          color: #fff;
          font-size: 17px;
          font-weight: 600;
          line-height: 125%;
          margin-bottom: 0;
        }
      }
      .buy-btn-pro {
        background-color: $color_primary;
        border: 1px solid $color_primary;
        color: #fff;
        &:hover {
          background: transparent;
          color: $color_primary !important;
          svg {
            path {
              fill: $color_primary;
            }
          }
        }
      }
    }
    .pricing-table-annual {
      transition: linear 0.4s;
      border-right: 1px solid $color_primary;
      border-left: 1px solid $color_primary;
      border-bottom: 1px solid $color_primary;
      // box-shadow: 0 4px 30px rgba(97, 97, 97, 0.25);
      // backdrop-filter: blur(12px);
    }
    .pricing-table-lifetime {
      border-top: 6px solid #3283fe;
      border-right: 1px solid #3283fe;
      border-bottom: 1px solid #3283fe;
      background: #fff;
      .price-value {
        color: #3283fe;
      }
      // .features-btn {
      //   color: #3283fe !important;
      // }
      .buy-btn-pro {
        background-color: #3283fe;
        border: 1px solid #3283fe;
        color: #fff;
        &:hover {
          background: transparent;
          color: #3283fe !important;
          svg {
            path {
              fill: #3283fe;
            }
          }
        }
      }
    }
  }
  .price-tables {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .pricing-btn {
      .buy-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
    }
  }
  .price-table {
    background-color: #fff;
    padding: 20px 20px 20px 20px;
    // border-top: 5px solid $color_primary;
    position: relative;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .pricing-head {
      &-title {
        display: block;
        color: #151826;
        font-size: 2.6rem;
        font-weight: 700;
        // padding-bottom: 15px;
      }

      &-description {
        color: #5c637e;
        font-size: 1rem;
        font-weight: 500;
      }
      .price-headers-section {
        display: flex;
        // justify-content: space-between;
        gap: 15px;
        align-items: center;
        .price-dis {
          letter-spacing: -0.004em;
          color: #fff;
          font-weight: 500;
          font-size: 1rem;
          background: #ffae35;
          border-radius: 50px;
          padding: 6px 12px;
          margin-left: 10px;
          text-decoration: none !important;
        }
      }
      .price-text {
        margin: 1rem 0;
        color: $color_primary;
        display: flex;
        align-items: center;
        gap: 20px;

        .price-value {
          font-size: 3rem;
          font-weight: 700;
          display: none;

          &:before {
            content: "$";
            font-size: 1.5rem;
            vertical-align: top;
          }

          &.free {
            display: inline-block;
          }

          .cent {
            font-size: 22px;
            vertical-align: middle;
          }
        }

        .price-suffix {
          display: none;
        }

        //old code
        &.annual {
          // display: none;
          &.license-1 {
            .price-value.single.annual {
              display: inline-block;
            }
          }

          &.license-2 {
            .price-value.two.annual {
              display: inline-block;
            }
          }

          &.license-5 {
            .price-value.five.annual {
              display: inline-block;
            }
          }

          &.license-100 {
            .price-value.hundred.annual {
              display: inline-block;
            }
          }

          &.license-unlimited {
            .price-value.unlimited.annual {
              display: inline-block;
            }
          }

          .price-suffix.annual {
            display: inline-block;
          }
        }

        &.lifetime {
          &.license-1 {
            .price-value.single.lifetime {
              display: inline-block;
            }
          }

          &.license-2 {
            .price-value.two.lifetime {
              display: inline-block;
            }
          }

          &.license-5 {
            .price-value.five.lifetime {
              display: inline-block;
            }
          }

          &.license-100 {
            .price-value.hundred.lifetime {
              display: inline-block;
            }
          }

          &.license-unlimited {
            .price-value.unlimited.lifetime {
              display: inline-block;
            }
          }

          .price-suffix.lifetime {
            display: inline-block;
          }
        }

        .offer-price {
          display: none;

          .price-off {
            color: #757575;
            font-weight: 600;
            font-size: 1.5rem;
            margin-bottom: 0;
            text-decoration: line-through;
          }

          .price-dis {
            letter-spacing: -0.004em;
            color: #fff;
            font-weight: 500;
            font-size: 1rem;
            background: #ffae35;
            border-radius: 50px;
            padding: 6px 12px;
            margin-left: 10px;
            text-decoration: none !important;
          }
        }

        &.annual {
          &.license-1 {
            .offer-price.single.annual {
              display: block;
            }
          }

          &.license-2 {
            .offer-price.two.annual {
              display: block;
            }
          }

          &.license-5 {
            .offer-price.five.annual {
              display: block;
            }
          }

          &.license-100 {
            .offer-price.hundred.annual {
              display: block;
            }
          }

          &.license-unlimited {
            .offer-price.unlimited.annual {
              display: block;
            }
          }

          .price-suffix.annual {
            display: inline-block;
          }
        }

        &.lifetime {
          &.license-1 {
            .offer-price.single.lifetime {
              display: block;
            }
          }

          &.license-2 {
            .offer-price.two.lifetime {
              display: block;
            }
          }

          &.license-5 {
            .offer-price.five.lifetime {
              display: block;
            }
          }

          &.license-100 {
            .offer-price.hundred.lifetime {
              display: block;
            }
          }

          &.license-unlimited {
            .offer-price.unlimited.lifetime {
              display: block;
            }
          }
        }
      }

      .support-text {
        color: #5c637e;
        font-weight: 700;
        font-size: 0.9rem;
        border-top: 1px solid #eaeeff;
        border-bottom: 1px solid #eaeeff;
        display: block;
        padding: 1rem;
      }
    }
    .price-feature-items {
      flex-grow: 4;
      .price-features-pro {
        .feature-item {
          margin-top: 1rem;
          display: flex;
          align-items: center;

          svg {
            width: 20px;
            height: 20px;
            line-height: 20px;
            background: rgba(254, 132, 131, 1);
            font-size: 0.8rem;
            color: #fff;
            border-radius: 5px;
            margin-right: 10px;
            text-align: center;
            flex: none;
            padding: 4px;
            path {
              fill: #fff;
            }
          }

          span {
            color: #5c637e;
            font-weight: 500;
            font-size: 1rem;

            .hot {
              border-radius: 3px;
              background: #ffe7d6;
              padding: 1px 4px;
              color: #ce0404;
              font-size: 0.7rem;
              font-weight: 400;
              border: 1px solid #ffe7d6;
              margin-left: 5px;
              display: inline-flex;
              align-items: center;
              text-transform: uppercase;

              img {
                margin-left: 2px;
              }
            }

            .new {
              border-radius: 3px;
              background: $color_primary;
              padding: 1px 4px;
              color: #fff;
              padding-right: 0px;
              font-size: 0.7rem;
              font-weight: 400;
            }
          }
        }
      }
    }
    .price-features {
      // padding: 1rem 3rem 3rem 3rem;
      flex-grow: 4;

      .feature-item {
        margin-top: 1rem;
        display: flex;
        align-items: center;

        svg {
          width: 20px;
          height: 20px;
          line-height: 20px;
          // background: linear-gradient(153.63deg, #bbe897 3.43%, #08cd87 90.47%);
          background: $color_primary;
          font-size: 0.8rem;
          // color: #fff;
          border-radius: 5px;
          margin-right: 10px;
          text-align: center;
          flex: none;
          padding: 4px;
          path {
            fill: #fff;
          }
        }

        span {
          color: #5c637e;
          font-weight: 500;
          font-size: 1rem;

          .hot {
            border-radius: 3px;
            background: #ffe7d6;
            padding: 1px 4px;
            color: #ce0404;
            font-size: 0.7rem;
            font-weight: 400;
            border: 1px solid #ffe7d6;
            margin-left: 5px;
            display: inline-flex;
            align-items: center;
            text-transform: uppercase;

            img {
              margin-left: 2px;
            }
          }

          .new {
            border-radius: 3px;
            background: $color_primary;
            padding: 1px 4px;
            color: #fff;
            padding-right: 0px;
            font-size: 0.7rem;
            font-weight: 400;
          }
        }
      }
    }
    // .pricing-btn {
    //   position: absolute;
    //   bottom: 55px;
    //   width: 91%;
    // }
    .features-btn {
      color: $color_primary;
      font-size: 16px;
      font-weight: 500;
      line-height: 124%;
      text-transform: capitalize;
      padding-bottom: 25px;
      display: block;
      i {
        margin-left: 10px;
      }
    }
    .buy-btn {
      text-align: center;
      text-decoration: none;
      color: $color_primary;
      font-size: 1rem;
      line-height: 1;
      padding: 20px 35px;
      // border-radius: 10px;
      border: 1px solid $color_primary;
      transition: all 0.3s ease-in-out;
      display: block;
      // width: max-content;
      margin: auto auto 0 auto;

      &:hover {
        color: #fff;
        background-color: $color_primary;
      }

      &-pro {
        color: #fff;
        background-color: $color_primary;

        &:hover {
          color: $color_primary;
          background-color: #fff;
        }
      }
    }

    &.table-pro {
      border-top: 5px solid #3d6ec9;

      .price-text {
        color: #3d6ec9;
      }
    }
  }

  // @media (min-width: 1200px) and (max-width: 1199.98px) {
  //   .price-table {
  //     .price-features {
  //       .feature-item {
  //         display: flex;
  //         justify-content: flex-start;
  //         align-items: center;

  //         span {
  //           font-size: 0.9rem;
  //         }
  //       }
  //     }
  //   }
  // }

  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .pricing-table-main {
      grid-template-columns: repeat(3, minmax(320px, 1fr));
    }
    .site {
      margin: 10px 0 20px 0;
      .license-main {
        .license-menu {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-gap: 10px;
          .list-item {
            display: block;
            .site-image {
              margin-top: 10px;
              span {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .price-table {
      .pricing-head {
        .price-headers-section {
          gap: 8px;
        }
      }

      .pricing-head-title {
        font-size: 2rem;
      }
      .price-features {
        .feature-item {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          span {
            font-size: 1rem;
          }
        }
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .pricing-table-main {
      grid-template-columns: repeat(3, minmax(320px, 1fr));
    }
    .site {
      margin: 10px 0 20px 0;
      .license-main {
        .license-menu {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-gap: 10px;
          .list-item {
            display: block;
            .site-image {
              margin-top: 10px;
              span {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .price-table {
      .pricing-head {
        .price-headers-section {
          gap: 8px;
        }
      }

      .pricing-head-title {
        font-size: 2rem;
      }
      .price-features {
        .feature-item {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          span {
            font-size: 1rem;
          }
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    // padding: 60px 0;
    // margin-bottom: 0;
    .pricing-table-main {
      grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
    .price-table {
      .pricing-head-title {
        font-size: 2rem;
      }
      .pricing-head {
        .price-headers-section {
          gap: 0px;
        }
      }
      .price-features {
        padding: 0;
        // padding: 1rem 1rem 3rem 1rem;

        .feature-item {
          span {
            font-size: 0.8rem;
          }
        }
      }
      .price-feature-items {
        .price-features-pro {
          padding: 0;
          // padding: 1rem 1rem 3rem 1rem;

          .feature-item {
            span {
              font-size: 0.8rem;
            }
          }
        }
      }
      .features-btn {
        padding-top: 20px;
      }
      .buy-btn {
        margin: 0 auto 0 auto;
        padding: 20px 20px;
      }
    }
    .site {
      margin: 10px 0 20px 0;
      .license-main {
        .license-menu {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-gap: 10px;
          .list-item {
            gap: 5px;
            display: block;
            .site-image {
              margin-top: 10px;
              justify-content: center;
              padding: 3px 4px;
              img {
                display: none;
              }
              svg {
                display: none;
              }
              .site-img-logo-5,
              .site-img-logo {
                margin-right: 0;
              }
              span {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    margin-bottom: 0px;
    padding: 0 0 60px 0;
    margin-top: -74px;
    .pricing-switcher {
      margin-bottom: 1rem;
    }
    .pricing-table-main {
      padding-top: 30px;
      .price-table-annual {
        margin-top: 20px;
        margin-bottom: 60px;
      }
    }
    .price-table {
      box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
      padding: 20px 20px 20px 20px;
      height: auto;
      .pricing-head-title {
        font-size: 2rem;
      }
      .price-features {
        padding: 0;
        // padding: 1rem 1rem 3rem 1rem;

        .feature-item {
          span {
            font-size: 0.8rem;
          }
        }
      }
      .price-feature-items {
        .price-features-pro {
          padding: 0;
          // padding: 1rem 1rem 3rem 1rem;

          .feature-item {
            span {
              font-size: 0.8rem;
            }
          }
        }
      }
      .features-btn {
        padding-top: 20px;
      }
      .buy-btn {
        margin: 0 auto 0 auto;
      }
    }

    .table-pro {
      box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
      margin-top: 30px;
    }

    .site {
      margin: 10px 0 20px 0;
      .license-main {
        .license-menu {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 10px;
          .list-item {
            gap: 5px;
            display: block;
            .site-image {
              margin-top: 10px;
              justify-content: center;
              padding: 3px 4px;
              img {
                display: none;
              }
              svg {
                display: none;
              }
              .site-img-logo-5,
              .site-img-logo {
                margin-right: 0;
              }
              span {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

/*----------- connect drive industry -----------*/
#connect-drive-industry {
  // padding: 60px 0;
  .drive-industry {
    padding: 40px;
    // background: #132c59;
    background: #132c59
      url("../images/connect-drive/industry/14-day money-bg.png") no-repeat;
    background-size: cover;
    border-radius: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -135px;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      height: 200px;
      background: rgba(144, 156, 183, 0.4509803922);
      filter: blur(77px);
      border-radius: 0px;
      overflow: hidden;
    }
  }
  .connect-drive-industry__head {
    .connect-drive-industry__head-icon {
      margin-bottom: 20px;
      border-radius: 15px;
      border: 1px solid rgba(255, 255, 255, 0.21);
      background: linear-gradient(
        133deg,
        rgba(255, 255, 255, 0.16) 1.79%,
        rgba(255, 255, 255, 0) 100%
      );
      backdrop-filter: blur(2.6631088256835938px);
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 20px auto;
    }
    .connect-drive-industry__title {
      font-size: 3rem;
      font-weight: 700;
      line-height: 120%;
      color: #fff;
      margin-bottom: 30px;
    }

    .connect-drive-industry__description {
      font-size: 1rem;
      font-weight: 400;
      line-height: 160%;
      color: #fff;
      padding: 0 80px;
      margin-bottom: 40px;

      a {
        color: cyan;
      }
    }
  }
  .connect-drive-industry__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    .indu-item {
      border-radius: 20px;
      border: 0.5px solid rgba(255, 255, 255, 0.21);
      background: linear-gradient(
        133deg,
        rgba(255, 255, 255, 0.16) 1.79%,
        rgba(255, 255, 255, 0) 100%
      );
      backdrop-filter: blur(222px);
      padding: 20px;
      height: 175px;
      text-align: center;

      span {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 120%;
        color: #fff;
        display: block;
      }

      img {
        padding-top: 28px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .connect-drive-industry__head {
      .connect-drive-industry__title {
        font-size: 1.8rem;
        margin-bottom: 0px;
      }

      .connect-drive-industry__description {
        padding: 0;
        margin: 20px 0;
      }
    }

    .connect-drive-industry__items {
      .indu-item {
        margin-bottom: 20px;
        text-align: center;
        padding: 18px;
        height: auto;

        span {
          font-size: 1.2rem;
        }
        img {
          // width: 60%;
        }
      }
    }
  }

  @media (max-width: 767px) {
    padding: 30px 0 20px 0;

    .connect-drive-industry__head {
      .connect-drive-industry__title {
        font-size: 1.5rem;
        margin-bottom: 0px;
      }

      .connect-drive-industry__description {
        padding: 0;
        margin: 20px 0;
      }
    }

    .connect-drive-industry__items {
      grid-template-columns: repeat(1, 1fr);

      .indu-item {
        margin-bottom: 20px;
        text-align: center;
        padding: 18px;
        height: auto;

        span {
          font-size: 1.2rem;
        }
        img {
          width: 60%;
        }
      }
    }
  }
}

/*---------- Connect Drive Features ----------*/
#connect-drive-features {
  padding: 100px 0;
  .connect-drive-features__header {
    text-align: center;
    margin-bottom: 50px;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    .connect-drive-features__title {
      font-weight: 700;
      font-size: 3rem;
      color: #151826;
      line-height: 120%;
      margin-bottom: 20px;
      padding: 0 20px;
    }
    .connect-drive-features__description {
      font-weight: 400;
      font-size: 1rem;
      line-height: 160%;
      color: #5c637e;
      padding: 0 20px;
      margin: 0 auto;
    }
  }
  .connect-drive-features-wrapper {
    max-width: 800px;
    margin: 0 auto;
    .connect-drive-features-wrapper__header {
      border-bottom: 1px solid #2b59ff1a;
      display: flex;
      margin-bottom: 20px;
      padding-bottom: 10px;
      line-height: 1;
      align-items: baseline;
      .connect-drive-features-wrapper__title {
        font-weight: 700;
        font-size: 2rem;
        color: #151826;
        margin-bottom: 0;
        width: 72%;
      }

      .feature-type {
        font-weight: 700;
        font-size: 2rem;
        color: #151826;
      }
      .type-free {
        color: #5c637e;
      }
      .type-pro {
        margin-left: auto;
      }
    }
    .accordions {
      width: 100%;
      .accordion-items {
        border: none;
        margin-top: 1rem;
        overflow: hidden;
        border-radius: 16px;
        border: 0.5px solid #bbd5ff;
        background: rgba(233, 242, 255, 0.6);

        .accordion-headers {
          margin: 0;

          .accordion-buttons {
            width: 100%;
            background: transparent;
            border: none;
            padding: 1.2em;
            font-size: 1.2rem;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease;
            font-family: inherit;
            // &:hover {
            //   background-color: #d4e8de;
            // }
            .title {
              width: 60%;
              display: flex;
              align-items: center;
              text-align: left;

              .fa-chevron-down {
                width: 28px;
                height: 28px;
                line-height: 28px;
                background-color: #5c637e;
                text-align: center;
                border-radius: 50px;
                color: #fff;
                transition: all 0.4s linear;
                margin-right: 25px;
                flex-shrink: 0;
              }
            }
            .feature-title {
              color: #0f172a;
              font-size: 24px;
              font-weight: 500;
            }
            svg {
              width: 28px;
              height: 28px;
              line-height: 28px;
              background-color: $color_primary;
              text-align: center;
              border-radius: 5px;
              transition: all 0.4s linear;
              flex-shrink: 0;
              padding: 7px;
            }
            .pro-icon {
              background: rgba(254, 132, 131, 1);
            }
            &.active {
              .fa-chevron-down {
                transform: rotate(180deg);
                background-color: $color_primary;
                color: #fff;
              }
            }
          }
        }
        .accordion-collapse {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-out;
          // background-color: #e9f6f0;
          &.show {
            max-height: 1000px;
            transition: max-height 0.5s ease-in;
          }
          .accordion-bodys {
            border-top: 1px solid #2b59ff1a;
            padding: 1.5rem;
            .description {
              // margin-bottom: 20px;
              color: #5c637e;
              line-height: 1.6;
            }
            .video {
              margin-top: 20px;
              iframe {
                width: 100%;
                height: 315px;
                border-radius: 20px;
                box-shadow: 6px 6px 8px rgba(142, 170, 249, 0.3);
                border: none;
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 1200px) and (max-width: 1399.98px) {
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    padding: 60px 0;
    .connect-drive-features__header {
      .connect-drive-features__title {
        font-size: 2rem;
      }
      // .connect-drive-features__description {
      //   font-size: 0.9rem;
      //   padding: 0 20px;
      // }
    }
    .connect-drive-features-wrapper {
      .connect-drive-features-wrapper__header {
        .connect-drive-features-wrapper__title {
          font-size: 1.4rem;
        }

        .feature-type {
          font-size: 1.4rem;
        }
      }
      .accordions {
        .accordion-items {
          .accordion-headers {
            .accordion-buttons {
              .feature-title {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 60px 0;
    .connect-drive-features__header {
      max-width: 100%;
      .connect-drive-features__title {
        font-size: 1.5rem;
      }
      .connect-drive-features__description {
        font-size: 0.9rem;
        padding: 0 20px;
      }
    }
    .connect-drive-features-wrapper {
      .connect-drive-features-wrapper__header {
        margin-bottom: 20px;
        padding-bottom: 10px;
        .connect-drive-features-wrapper__title {
          font-size: 1.1rem;
          width: 72%;
        }

        .feature-type {
          font-size: 1.1rem;
        }
        .type-free {
          margin-right: 46px;
        }
        .type-pro {
          margin-left: auto;
        }
      }
      .accordions {
        .accordion-items {
          .accordion-headers {
            .accordion-buttons {
              .feature-title {
                font-size: 15px;
              }
            }
          }
          .accordion-collapse {
            .accordion-bodys {
              .description {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }
}

/**---------- connect drive testimonial scss ----------**/
.connect-drive-testimonial {
  background-color: rgba(0, 0, 0, 0.01);
  padding: 60px 0;

  .connect-drive-testimonial__head {
    max-width: 700px;
    margin: auto;
    .connect-drive-testimonial__heading-title {
      font-weight: 700;
      font-size: 3.5rem;
      line-height: 120%;
      color: #111;

      span {
        color: $color_primary;
      }
    }

    .connect-drive-testimonial__heading-description {
      margin: 2rem 0 4rem 0;
      font-weight: 400;
      font-size: 1rem;
      color: #5c5c5c;
    }
  }

  .connect-drive-testimonial {
    position: relative;
  }
  .connect-drive-testimonial__slider {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      height: 80%;
      transform: translate(-50%, -50%);
      background: url("../images/connect-drive/shadow.png") no-repeat 0 0;
      background-size: cover;
      z-index: -1;
    }
  }
  .slider-item {
    // width: 30% !important;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #bbd5ff;
    border-radius: 20px;
    padding: 20px;
    .connect-drive-testimonial__content {
      .connect-drive-testimonial__desc {
        color: #5c637e;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
      }
      .connect-drive-testimonial__user-text {
        gap: 10px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        .connect-drive-testimonial__name {
          color: #0f172a;
          font-size: 16px;
          font-weight: 600;
          line-height: 120%;
        }
      }
    }
    .connect-drive-testimonial__rating {
      gap: 5px;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      span {
        color: #fbbf24;
      }
    }
  }
  .connect-drive-testimonial__user-main {
    .connect-drive-testimonial__title {
      color: #0f172a;
      font-size: 24px;
      line-height: 120%;
      display: inline-block;
      margin-bottom: 15px;
    }
  }

  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .connect-drive-testimonial__head {
      .connect-drive-testimonial__heading-title {
        font-size: 2.6rem;
      }
      .connect-drive-testimonial__heading-description {
        margin: 1rem 0 3rem 0;
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .connect-drive-testimonial__head {
      .connect-drive-testimonial__heading-title {
        font-size: 2.4rem;
      }
      .connect-drive-testimonial__heading-description {
        margin: 1rem 0 3rem 0;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    padding: 40px 0;

    .connect-drive-testimonial__head {
      .connect-drive-testimonial__heading-title {
        font-size: 2rem;
      }

      .connect-drive-testimonial__heading-description {
        margin: 1rem 0 2rem 0;
        font-size: 0.9rem;
      }
    }
    .connect-drive-testimonial {
      padding: 1rem 0;
    }

    .connect-drive-testimonial-items {
      .connect-drive-testimonial-item {
        height: auto;
      }
    }
    .connect-drive-testimonial__slider {
      grid-template-columns: repeat(2, 1fr);
      .slider-item {
        .connect-drive-testimonial__user-main {
          .connect-drive-testimonial__title {
            font-size: 22px;
          }
        }
        .connect-drive-testimonial__content {
          .connect-drive-testimonial__desc {
            font-size: 14px;
          }
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 40px 0;

    .connect-drive-testimonial__head {
      .connect-drive-testimonial__heading-title {
        font-size: 1.5rem;
      }

      .connect-drive-testimonial__heading-description {
        margin: 1rem 0 2rem 0;
        font-size: 0.9rem;
      }
    }
    .connect-drive-testimonial {
      padding: 1rem 0;
    }

    .connect-drive-testimonial-items {
      .connect-drive-testimonial-item {
        height: auto;
      }
    }
    .connect-drive-testimonial__slider {
      grid-template-columns: repeat(1, 1fr);
      .slider-item {
        .connect-drive-testimonial__user-main {
          .connect-drive-testimonial__title {
            font-size: 22px;
          }
        }
        .connect-drive-testimonial__content {
          .connect-drive-testimonial__desc {
            font-size: 14px;
          }
        }
      }
    }
  }
}
/**---------- connect drive faq scss ----------**/
#connect-drive-faq {
  background: rgba(233, 242, 255, 0.3);
  padding: 60px 0;
  /* Header */
  .connect-drive-faq__head {
    max-width: 700px;
    margin: auto;
    text-align: center;
    .connect-drive-faq__head-title {
      font-weight: 700;
      font-size: 3rem;
      line-height: 120%;
      color: #111;
      span {
        color: $color_primary;
      }
    }
    .connect-drive-faq__head-description {
      margin-top: 1.5rem;
      font-size: 1rem;
      color: #5c5c5c;
    }
  }
  /* Accordion */
  .accordion {
    margin-top: 40px;
    .accordion-item {
      border-radius: 16px;
      border: 1px solid #1c6bcb;
      background: #fff;
      box-shadow: 0 0 24px 0 rgba(150, 150, 150, 0.16);
      margin-bottom: 20px;
      padding: 20px 30px;
      .accordion-header {
        cursor: pointer;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          color: #25252c;
          font-size: 24px;
          font-weight: 400;
          line-height: 120%;
        }
      }
      .accordion-body {
        height: 0;
        overflow: hidden;
        transition: height 0.35s ease;
        transition: all linear 0.4s;
        .accordion-content {
          padding: 0;
          color: #555;
        }
      }
      .accordion-item-content {
        width: 90%;
      }
      .icon {
        background: #e9f2ff;
        width: 50px;
        height: 50px;
        line-height: 60px;
        text-align: center;
        border-radius: 50%;
        transition: all linear 0.4s;
        svg {
          transition: all linear 0.4s;
          path {
            fill: $color_primary;
          }
        }
      }
      &.active {
        .accordion-body {
          height: auto;
        }
        .accordion-header {
          span {
            font-weight: 500;
            margin-bottom: 10px;
          }
        }
        .icon {
          background: linear-gradient(295deg, #1c6bcb 2.71%, #2d7cff 96.32%);
          transition: all linear 0.4s;
          svg {
            transform: rotate(45deg);
            path {
              fill: #fff !important;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .connect-drive-faq__head {
      .connect-drive-faq__head-title {
        font-size: 2.6rem;
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .connect-drive-faq__head {
      .connect-drive-faq__head-title {
        font-size: 2.4rem;
      }
      .connect-drive-faq__head-description {
        margin-top: 1rem;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .connect-drive-faq__head {
      .connect-drive-faq__head-title {
        font-size: 2rem;
      }
      .connect-drive-faq__head-description {
        margin-top: 1rem;
        font-size: 0.95rem;
      }
    }
    .accordion {
      .accordion-item {
        margin-bottom: 20px;
        padding: 20px;
        .accordion-header {
          span {
            font-size: 19px;
            width: 90%;
          }
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 40px 0;
    .connect-drive-faq__head {
      .connect-drive-faq__head-title {
        font-size: 1.5rem;
      }
      .connect-drive-faq__head-description {
        margin-top: 0.5rem;
        font-size: 0.9rem;
      }
    }
    .accordion {
      .accordion-item {
        margin-bottom: 20px;
        padding: 20px;
        .accordion-header {
          span {
            font-size: 17px;
            width: 90%;
          }
        }
      }
    }
  }
}
/**---------- cta area scss ----------**/
.connect-drive-cta {
  background: linear-gradient(
    90deg,
    #9f7eff 1.23%,
    #8c89ff 16.9%,
    rgba(92, 113, 255, 0.91) 29.72%,
    rgba(43, 89, 255, 0.8) 42.08%,
    #5d8bfd 57.78%,
    #729bff 69.61%,
    #f76d83 100%
  );
  padding: 80px 0;
  .connect-drive-cta__wrapper {
    // width: 1000px;
    margin: auto;
    .connect-drive-cta__content {
      .connect-drive-cta__title {
        margin-bottom: 1rem;
        font-weight: 700;
        font-size: 2.5rem;
        color: #fff;
      }

      .connect-drive-cta__description {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 1rem;
        color: #f9faff;
        padding-right: 0;
        max-width: 600px;
        margin: auto;
      }
    }

    .cta-actions {
      margin-top: 50px;
      text-align: center;
      display: flex;
      justify-content: center;
      a {
        text-decoration: none;
        padding: 15px 36px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        svg {
          margin-right: 10px;
        }
        i {
          margin-right: 10px;
        }
      }

      .bt {
        background-color: #2b59ff;
        color: #fff;
        transition: all linear 0.4s;

        &:hover {
          background-color: #fff;
          color: #2b59ff;
          transition: all linear 0.4s;
          box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
        }
      }

      .bt1 {
        background-color: #fff;
        color: #2b59ff;
        margin-left: 40px;
        transition: all linear 0.4s;

        &:hover {
          background-color: #2b59ff;
          color: #fff;
          transition: all linear 0.4s;
          box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
          svg {
            path {
              fill: #fff;
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    padding: 40px 0;
    .connect-drive-cta__wrapper {
      .connect-drive-cta__content {
        .connect-drive-cta__title {
          font-size: 2rem;
        }
        .connect-drive-cta__description {
          font-size: 0.9rem;
        }
      }
      .cta-actions {
        margin-top: 30px;

        a {
          padding: 10px 24px;
        }

        .bt1 {
          margin-left: 15px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    padding: 30px 0 30px 0;
    .connect-drive-cta__wrapper {
      .connect-drive-cta__content {
        .connect-drive-cta__title {
          font-size: 1.5rem;
        }

        .connect-drive-cta__description {
          padding-right: 0;
          font-size: 0.9rem;
        }
      }

      .cta-actions {
        margin-top: 1.5rem !important;

        a {
          padding: 10px 24px;
        }

        .bt1 {
          margin-left: 15px;
        }
      }
    }
  }
}
/**---------- cta area scss end ----------**/
