$color_primary: #2B59FF;
$color_secondary: #6fa6ff;
$color_white: #fff;
$color_black: #000;
$button_bg_color: linear-gradient(to right, #7788ff, #6e6dff);
$heading_color: #151826;
$p_color: #5c637e;
$border_color: #edf4fe;
$bg_color: #f9faff;
$line_height_h1: 120%;
$line_height_p: 160%;
